{% extends 'base.html' %} {% block content %} {% if object %}
<h1>Edit {{ object.name }}'s Details</h1>
{% else %}
<h1>Add a Car</h1>
{% endif %}

<form action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input
    type="submit"
    value="{% if object %} Edit {% else %} Add Car {% endif %}"
    class="btn blue"
  />
</form>

{% if object %}
<a href="{% url 'detail' object.id %}" class="btn red">Cancel</a>
{% else %}
<a href="{% url 'index' %}" class="btn red">Cancel</a>
{% endif %} {% endblock %}
