{% extends 'base.html' %} {% block content %} {% if object %}
<h2>Edit {{ object.make }}</h2>
{% else %}
<h2>Add a Car</h2>
{% endif %}

<form action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input
    type="submit"
    value="{% if object %} Edit {% else %} Add Car {% endif %}"
    class="btn brown lighten-1"
  />
  {% if object %}
  <a href="{% url 'detail' object.id %}" class="btn brown darken-1">Cancel</a>
  {% else %}
  <a href="{% url 'index' %}" class="btn brown darken-1">Cancel</a>
  {% endif %} {% endblock %}
</form>
