{% extends 'base.html' %} {% block content %} {% if object %}
<h1>Edit {{ object.scent }}</h1>
{% else %}
<h1>Add a Little Tree</h1>
{% endif %}

<form action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input
    type="submit"
    value="{% if object %} Edit {% else %} Add {% endif %}"
  />
  {% if object %}
  <a href="{% url 'trees_detail' object.id %}">Cancel</a>
  {% else %}
  <a href="{% url 'trees_index' %}">Cancel</a>
  {% endif %}
</form>

{% endblock %}
